@charset "UTF-8";
*{
    margin:0; padding:0;
    outline: 0 !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{ width:100%; height:100%;}
body{
    font-family:Arial, sans-serif;line-height: 1; color:#333;position:relative;height:100%; text-rendering: optimizeLegibility;
    -webkit-text-size-adjust:none; -webkit-overflow-scrolling:touch;
    font-size: 14px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ul{margin: 0;}
li{list-style:none}
img{border:0; max-width:100%; height:auto;}
svg:not(:root) {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
}
a{text-decoration: none;color: inherit;}
.clearfix:after {content: "";visibility: hidden;display: block;height: 0;clear: both;}
/**主内容**/
.pagecontent{width:1000px;margin: auto;min-height:calc(100% - 191px);position: relative;}
/**头部导航**/
.header{width:1000px;margin:0 auto;height: 65px;line-height: 65px;font-size: 18px;}
.header .logo{float: left;width:165px;height: 100%; background: url("../image/logo.png") no-repeat center;background-size: contain;}
.header .logo a{display: block;width: 100%;height: 100%;}
.header .nav{margin-left: 200px;text-align: center;}
.header .nav a{display: inline-block;width: 16.666666%;float: left;}
.header .nav a.active{color: #999;}
/**底部版权说明**/
.footer{text-align: center;background-color: darkgrey;padding: 18px 0;font-size: 12px;color: #FFFFFF;}
.footer .nav{display: inline-block;}
.footer .nav .col{float: left;line-height: 22px;text-align: left;margin-right: 15px;padding-top: 11px;}
.footer .nav .col:last-child{margin-right: 0;}
.footer .nav .col.qr{text-align: center;margin-right: 35px;padding-top:6px;margin-bottom: -6px;}
.footer .nav .col.qr .rqicon{width: 66px;height: 66px;object-fit:contain;object-position: center;display: block;}

/**左侧菜单**/
.maincontent{margin-left: 200px;overflow: hidden;}
.menulist{float: left;width: 200px;padding: 30px 0;}
.menulist .item{font-size: 12px;display:-webkit-flex; display: flex;  -webkit-flex-direction: row;  flex-direction: row;  -webkit-align-items: center;  align-items:center;  justify-content: center;  }
.menulist .item .iconwrap{width: 70px;height: 70px;margin:10px;border-radius: 50%;color:#999;display:-webkit-flex; display: flex; -webkit-flex-direction: column;flex-direction: column;-webkit-align-items: center;align-items:center;justify-content: center;}
.menulist .item .iconwrap .icon{width: 34px;height: 34px;}
.menulist .item .iconwrap .name{margin-top: 10px;}
.menulist .item .namewrap{color:#999;line-height: 18px;min-width:52px;display:-webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column;-webkit-align-items: center; align-items:center; justify-content: center;}
.menulist .item.active .iconwrap{background-color: #999;color: #FFFFFF;}
.menulist .item:hover .iconwrap{width: 80px;height: 80px;margin: 5px;box-shadow: 3px 6px 15px 0 rgba(0,0,0,.3);}

.menulist.bigger{}
.menulist.bigger .item .iconwrap{width:80px;height: 80px;margin: 7px;}
.menulist.bigger .item .iconwrap .icon{margin-top: -8px;}
.menulist.bigger .item.active .iconwrap{background-color:#94C8E5;}
.menulist.bigger .item:hover .iconwrap{width: 90px;height: 90px;margin: 2px;box-shadow: 0 6px 15px 0 rgba(0,0,0,.3);}