@charset "UTF-8";
/**联系我们样式**/
.pagecontent{color: #888;}
.title{font-size: 26px;line-height: 30px;text-align: center;padding-top: 40px;color: #333;text-transform: uppercase}
.title .blue{color: #94C8E5;}
.desc{font-size: 12px;padding: 15px 0;line-height: 20px;text-align: center;font-style: italic;letter-spacing: 1px;}
.form{width:770px;margin: 0 auto;}
.col_half{float: left;width: 50%;padding-left: 7px;}
.col_half:first-child{;padding-left:0;padding-right: 7px;}
.label{height: 40px;line-height: 38px;padding-left: 62px;position: relative;border-radius: 5px;font-size: 15px;margin-bottom: 15px;}
.label .lab-title{display: inline-block;position: absolute;top: 0;left: 12px;z-index: 1;}
input{background: none;border: none;width: 100%;height: 38px;line-height: 38px;font-size: 15px;}
.namewrap{border: 1px solid #dedede;}
.sexwrap{border: 1px solid #dedede;padding: 0;}
.sexwrap .sex{position: absolute;z-index:1;left: 0;display: inline-block;width:50%;padding-left: 12px;}
.sexwrap .sex:nth-child(2){left: 50%;}
.sexwrap .slide{position: absolute;left: -1px;top: -1px;height:40px;width: 50%;border-radius: 5px;border: 1px solid #dedede;background-color:#F8F8F8;
    transition: left .4s ease-in-out;
    -moz-transition: left .4s ease-in-out;
    -webkit-transition: left .4s ease-in-out;
    -o-transition: left .4s ease-in-out;
}
.sexwrap.active .slide{left:calc(50% + 1px);}
.mobilewrap,.mailwrap{background-color: #F8F8F8;}
.submitbtn{height: 40px;width: 150px;border: none;background-color:#94C8E5;color: #FFFFFF;font-size: 15px;cursor: pointer;}
.messagewrap{position: relative; height: 95px;background-color:#F8F8F8;padding-top: 10px;}
.messagewrap textarea{resize: none;height: 100%;width: 100%;line-height: 20px;font-size: 15px;border: none;background: none;}
.detail{font-size: 13px;text-align: left;padding-left: 12px;line-height: 24px;font-style: italic;letter-spacing: 1px;}
.detail .icon{width: 15px;}
.detail .text{vertical-align: middle;}

.m-tipwinmask{position:fixed;z-index: 19999; opacity: 0; width: 100%;height: 100%;left: 0;top:0;text-align: center;-webkit-transform:scale3d(.5,.5,.5);transform:scale3d(.5,.5,.5);-webkit-transition: all .2s;transition: all .2s;}
.m-tipwinmask_in{opacity: 1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1);}
.m-tipwin{position:relative;display:inline-block;min-width: 100px;width: auto;max-width: 80%; padding: 8px 15px;-webkit-transform:translateY(-50%);transform:translateY(-50%);line-height: 22px;top:50%;border-radius:8px;font-size: 16px;background-color:rgba(0,0,0,0.65); color:#FFF;}
