@charset "UTF-8";

.headindex{
    position:fixed;
    top:0;left:0;width:100%;
    z-index:10000;
}
.headindex.bgFFF{
    background-color: rgba(255,255,255,.8);
}

.indexfooter{
    width: 100%;position: absolute;bottom: 0;left:0;z-index: 10
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



#bannerContainer{
    -webkit-transition: transform .5s ease-out;
    -moz-transition: transform .5s ease-out;
    transition: transform .5s ease-out;


}
#bannerContainer.toup{
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}
#bannerContainer.todown{
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
}


.index_banner .imgbox{
    position:relative;
    width: 100%;
    height: 100%;
}
.index_banner .imgbox .bgimg{
    width:100%;height:100%;
    object-fit:cover;
    object-position:center;
}
.index_banner .imgbox .text{
    position: absolute;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.index_banner video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #999;
}
.index_banner .playbtn{position: absolute;top:50%;left:50%;background-color: blanchedalmond;z-index:101;
    background: url(../image/icon_play.png) no-repeat center;background-size: 80px;
    width: 80px;height:80px;margin:-40px 0 0 -40px;
    cursor: pointer;
}


.index_arrow_b{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    background:url(../image/arrow_b.png) no-repeat center #ececec;
    border-radius: 50%;
    z-index: 100;
    cursor:pointer;

    -webkit-animation: an-up-down 1s infinite linear;
    animation: an-up-down 1s infinite linear;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    right: 25px;
    opacity: .7;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: 25px;
    opacity: .7;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 70px;
}
.swiper-pagination-bullet{
    opacity: .4;
}
.swiper-pagination-bullet-active{
    background: #d3d3d3;
}


.s_content{
    width: 1000px;
    height: 100%;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.s_content .mbg{
    position: absolute;
    left: 0;
    top:0;
    width:100%;
    height:100%;
    opacity:0;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .8s ease-out;
    transition: all .8s ease-out;

    -webkit-transform: scale(.8);
    transform: scale(.8);
}
.s_content .mbg.b01{
    background: url(../image/sbg_01.jpg) no-repeat left 30%;
    background-size: 500px auto;
}
.s_content .mbg.b02{
    background: url(../image/sbg_02.jpg) no-repeat right 30%;
    background-size: 500px auto;
}
.s_content .mbg.b03{
    background: url(../image/sbg_03.jpg) no-repeat left 30%;
    background-size: 500px auto;
    z-index: 10;
}
.s_content.s_bg01 .mbg{
    opacity:1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.s_content.s_bg02 .mbg{
    opacity:1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.s_content.s_bg03 .mbg{
    opacity:1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.s_content .textbox{
    width: 472px;
    position: absolute;
    left: 0;
    top:50%;
    text-align: left;
    -webkit-transform: translateY(-50%) translateX(-100px);
    -ms-transform: translateY(-50%) translateX(-100px);
    -moz-transform: translateY(-50%) translateX(-100px);
    transform: translateY(-50%) translateX(-100px);
    opacity: 0;
    z-index: 10;
    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
}
.s_content .textbox.positionright{
    left: auto;
    right: 0;

    -webkit-transform: translateY(-50%) translateX(100px);
    -ms-transform: translateY(-50%) translateX(100px);
    -moz-transform: translateY(-50%) translateX(100px);
    transform: translateY(-50%) translateX(100px);
}
.s_content .textbox.w508{
    width: 520px;
}
.s_content .textbox.show{
    opacity:1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.s_content .textbox .title{
    font-size: 36px;
}
.s_content .textbox .desc{
    font-size: 22px;
    color: #666666;
    line-height: 1.5;
    margin-top: 35px;
}
.animebox{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}
.animebox .nao{
    width: 800px;
    height: 480px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -400px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: transform 2s ease-out;
    -moz-transition: transform 2s ease-out;
    transition: transform 2s ease-out;
}
.animebox .nao.toright{
    -webkit-transform: translateY(-50%) translateX(390px);
    -ms-transform: translateY(-50%) translateX(390px);
    -moz-transform: translateY(-50%) translateX(390px);
    transform: translateY(-50%) translateX(390px);
}
.animebox .nao img{
    vertical-align: bottom;
}
.animebox .nao .naoimg{
    -webkit-transition: transform .5s ease-out;
    -moz-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
}
.animebox .nao .naoimg.hideright{
    -webkit-transform:translateX(120px);
    -ms-transform: translateX(120px);
    -moz-transform:translateX(120px);
    transform:translateX(120px);
}

.animebox .lines{
    width: 700px;
    height: 700px;
    position: absolute;
    top:50%;
    right: -110px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.animebox .analyse.hide .skew{
    margin-left: -100px;
}
.animebox .analyse .skew{
    position: absolute;
    left: 0;
    top: 62%;
    opacity: .9;
    -webkit-transform:translateY(-50%) skewX(3deg) skewY(14deg) rotateY(27deg) scale(.85);
    -ms-transform:translateY(-50%) skewX(3deg) skewY(14deg) rotateY(27deg) scale(.85);
    -moz-transform:translateY(-50%) skewX(3deg) skewY(14deg) rotateY(27deg) scale(.85);
    transform:translateY(-50%) skewX(3deg) skewY(14deg) rotateY(27deg) scale(.85);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.animebox .analyse .skew.active{
    -webkit-transform:translateY(-150%) scale(1.15);
    -ms-transform:translateY(-150%) scale(1.15);
    -moz-transform:translateY(-150%) scale(1.15);
    transform:translateY(-150%) scale(1.15);
    z-index: 20;
}
.animebox .analyse .skew.active.skew_1,
.animebox .analyse .skew.active.skew_2,
.animebox .analyse .skew.active.skew_3{
    margin-top:0;
}

.animebox .analyse .skew.onhover{
    -webkit-transform:translateY(-55%) skewX(3deg) skewY(14deg) rotateY(27deg);
}
.animebox .analyse .skew_0{
    z-index: 10;
}
.animebox .analyse .skew_1{
    z-index: 9;
    margin-left: 60px;
    margin-top: -20px;
}
.animebox .analyse .skew_2{
    z-index: 8;
    margin-left: 120px;
    margin-top: -40px;
}
.animebox .analyse .skew_3{
    z-index: 7;
    margin-left: 180px;
    margin-top: -80px;
}

.animebox .nao .tips{
    position: absolute;
    width: 176px;
    height: 116px;
    left: 83px;
    top: 147px;


    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
}
.animebox .nao .tips.position2{
    left: 153px;
    top: 47px;
}
.animebox .nao .tips img{
    position:absolute;
    top:0;left: 0;
}
.animebox .nao .tips .point{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(97,162,198,.4);
    right: -20px;
    bottom: -20px;
    border-radius: 50%;
    -webkit-transform:scale(0);
    transform:scale(0);
    opacity:0.5;

    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
    /*-webkit-animation: an-scale 1s alternate linear;
    animation: an-scale 1s alternate linear;*/
}
.animebox .nao .tips .text{
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    transition: transform .3s ease-out;
}
.animebox .nao .tips .line{
    -webkit-transform: scale(0);
    transform: scale(0);
    transform-origin: bottom right;
    -webkit-transition: transform .5s ease-out;
    -moz-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
}
.animebox .nao .tips.show .point{
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:1
}
.animebox .nao .tips.show .line{
    -webkit-transform: scale(1);
    transform: scale(1);
    transition-delay: .2s;
    -moz-transition-delay: .2s;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
}
.animebox .nao .tips.show .text{
    -webkit-transform: scale(1);
    transform: scale(1);
    transition-delay: .5s;
    -moz-transition-delay: .5s;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
}








































@-webkit-keyframes an-scale {
    0% {
        -webkit-transform:scale(0.3);
        opacity:0.5
    }
    50% {
        -webkit-transform:scale(.7);
        opacity:1
    }
    100% {
        -webkit-transform:scale(1);
        opacity:1
    }
}
@keyframes an-scale {
    0% {
        -webkit-transform:scale(0.3);
        transform:scale(0.3);
        opacity:0.5
    }
    50% {
        -webkit-transform:scale(.7);
        transform:scale(.7);
        opacity:1
    }
    100% {
        -webkit-transform:scale(1);
        transform:scale(1);
        opacity:1
    }
}

@-webkit-keyframes an-up-down {
    0% {
        -webkit-transform:translateY(0);
    }
    25% {
        -webkit-transform:translateY(10%);
    }
    75% {
        -webkit-transform:translateY(10%);
    }
    100% {
        -webkit-transform:translateY(0);
    }
}
@keyframes an-up-down {
    0% {
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    25% {
        -webkit-transform:translateY(10%);
        transform:translateY(10%);
    }
    75% {
        -webkit-transform:translateY(10%);
        transform:translateY(-10%);
    }
    100% {
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}









/* page */
.pageZone {padding:30px 0;text-align: center}
.pageZone a{display:inline-block;height:34px; line-height:34px; font-size:14px; border:1px solid #d8dadf; margin-right:10px;font-family:"Microsoft Yahei","Arial",HELVETICA; margin-top:10px;}
.pageZone a.current{border:1px solid #58B3EF; padding:0 13px; background:#58B3EF; color:#fff;}
.pageZone span.isNow{display:inline-block;height:34px; line-height:34px; font-size:14px; border:1px solid #d8dadf; margin-right:10px;font-family:"Microsoft Yahei","Arial",HELVETICA; margin-top:10px; border:1px solid #003b83; padding:0 13px; background:#003b83; color:#fff;}
.pageZone span.Disabled{background:#f8f8f8; color:#9a9a9a;}
.pageZone a{color:#555; padding:0 13px;}
.pageZone .number{font-size:16px;}




.newslist{
    padding-top: 60px;
}
.newslist .headtabs{
    text-align: center;
}
.newslist .headtabs ul{
    margin: 0 auto;

}
.newslist .headtabs li{
    display: inline-block;
    color: #34576a;
    border-bottom: 2px solid transparent;
    line-height: 150%;
    margin: 0 10px;
    cursor: pointer;
}
.newslist .headtabs li.active{
    color: #58B3EF;
    border-bottom: 2px solid #58B3EF;
}

.newslist .list{
    margin-left: -24px;
    overflow: hidden;
}
.newslist .list .item{
    padding-left: 24px;
    margin-top: 24px;
    float: left;
    width: 33.3333333%;
}
.newslist .list .item a{
    color: #34576a;
    display: block;
    border-bottom: 1px solid #d0d0d0;
}
.newslist .list .item .img{
    width: 100%;
    height: 182px;
    overflow: hidden;
}
.newslist .list .item .img img{
    width: 100%;height: 100%;
    object-position: center;
    object-fit: cover;
    -webkit-transition: transform 1s ease-out;
    -moz-transition: transform 1s ease-out;
    transition: transform 1s ease-out;
}
.newslist .list .item a:hover{
    color: #58B3EF;
}
.newslist .list .item a:hover .img img{
    -webkit-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -moz-transform:scale(1.15);
    transform:scale(1.15);
}
.newslist .list .item .title{
    line-height: 23px;
    height: 46px;
    overflow: hidden;
    margin: 20px 0;
    text-align: center;
}
.newslist .list .item .date{
    text-align: right;
    line-height: 150%;
}


.newsshow{
    width: 728px;
    margin: 0 auto;
    padding: 30px 0;
}
.newsshow .crumbs{
    background-color: #dcf0fb;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.newsshow .crumbs span{
    color: #58B3EF;
    margin: 0 10px;
}
.newsshow .crumbs span a{
    color: #58B3EF;
}
.newsshow .shead{
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
}
.newsshow .shead .title{
    color: #34576a;
    margin: 15px 0;
    line-height: 1.4;
    text-align: center;
    font-size: 22px;
}
.newsshow .shead .date{
    color: #999999;
    line-height: 1;
}
.newsshow .mcon{
    margin: 20px 0;
    line-height: 1.5;
}











