@charset "UTF-8";

.headindex{
    position:fixed;
    top:0;left:0;width:100%;
    z-index:10000;
}


.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}




.index_banner .imgbox{
    position:relative;
    width: 100%;
    height: 100%;
}
.index_banner .imgbox .bgimg{
    width:100%;height:100%;
    object-fit:cover;
    object-position:center;
}
.index_banner .imgbox .text{
    position: absolute;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.index_banner .arrow_b{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    background:url(../image/arrow_b.png) no-repeat center #ececec;
    border-radius: 50%;
    z-index: 100;
}
.index_banner video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #999;
}
.index_banner .playbtn{position: absolute;top:50%;left:50%;background-color: blanchedalmond;z-index:101;
    background: url(../image/icon_play.png) no-repeat center;background-size: 80px;
    width: 80px;height:80px;margin:-40px 0 0 -40px;
    cursor: pointer;
}


.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    right: 25px;
    opacity: .7;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    left: 25px;
    opacity: .7;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 70px;
}
.swiper-pagination-bullet{
    opacity: .4;
}
.swiper-pagination-bullet-active{
    background: #d3d3d3;
}


.s_content{
    width: 1000px;
    height: 100%;
    left: 50%;
    top: 50%;
    margin-left: -480px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.s_content.s_bg01{
    background: url(../image/sbg_01.jpg) no-repeat left 10%;
}
.s_content .textbox{
    width: 472px;
    position: absolute;
    left: 0;
    top:50%;
    text-align: left;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.s_content .textbox .title{
    font-size: 36px;
}
.s_content .textbox .desc{
    font-size: 22px;
    color: #666666;
    line-height: 1.5;
    margin-top: 45px;
}


