@charset "UTF-8";
.pagetop{position: fixed;padding:15px 15px;width: 100%;height: 50px;left: 0;top: 0;z-index: 9999;background-color:rgba(255,255,255,0.7);}
.pagetop .icon{height: 22px;}
.pagetop .logo{float: left;}
.pagetop .logo img{display: block;height: 20px;}
.pagetop .menu{float: right;-webkit-transition: all 0.4s;transition: all 0.4s;}
.pagetop .menu.out{opacity: 0;transform: scale(0.5);}

.pagenav{position: fixed;width: 100%;height: 100%;left: 100%;top: 0;z-index: 10000;}
.pagenav .navbg{position: absolute;left: 0;top: 0;width: 100%;height: 100%;-webkit-transition: transform 0.3s ease-in-out;transition: transform 0.3s ease-in-out;}
.pagenav .list{width: 200px;text-align: center; padding:80px 0; background-color:rgba(0,0,0,0.75);position: absolute;z-index: 1;left: 0;height: 100%;overflow: auto;color: #FFFFFF;-webkit-transition: transform 0.3s ease-in-out;transition: transform 0.3s ease-in-out;}
.pagenav.in .navbg{-webkit-transform: translateX(-100%);transform: translateX(-100%);}
.pagenav.in .list{-webkit-transform: translateX(-200px);transform: translateX(-200px);}
.pagenav .list .item{display: block; line-height: 60px;}
.pagenav .list .item .icon{height: 24px;margin-right: 3px;}
.pagenav .list .item .name{vertical-align: middle;}
.pagenav .list .close{position: absolute;right:0;top:0;width: 44px;height: 44px;}
.pagenav .list .close:before,.pagenav .close:after{content: '';position: absolute; background-color: #FFFFFF;height: 1px;width: 16px;top: 21px;left: 14px;}
.pagenav .list .close:before{-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}
.pagenav .list .close:after{-webkit-transform: rotate(45deg);transform: rotate(45deg);}

.pagewrap{padding:50px 15px 15px;min-height:100%;position: relative;border-top: 1px solid;}
.pagetitle{font-size: 22px;padding:10px 20px 20px;text-align: center;}

/*页面入场动画*/
.pagewrap .ani-scale{opacity:0;-webkit-transform: scale(0.6);transform: scale(0.6);-webkit-transition: all 1s;transition: all 1s;}
.pagewrap.in .ani-scale{opacity:1;-webkit-transform: scale(1);transform: scale(1);}